body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4c804e;
  margin: 0;
}

.calculator {
  width: 300px;
  margin: 100px auto;
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 4%;
  box-shadow: 0 0 10px rgba(0, 0, 0, );
  
}

.display {
  font-size: 2em;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333;
  color: #149797;
  border-radius: 5px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 20px;
  font-size: 1.5em;
  border: none;
  background-color: #333;
  color: red;
  border-radius: 55px;
  cursor: pointer;
}

.btn:hover {
  background-color: #BFC0C0
}

.btn-clear {
  background-color: black;
}

.btn-clear:hover {
  background-color: #BFC0C0
}

.special {
  background-color: darkmagenta;
  cursor: pointer;
  font-size: 90%;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


div {
  /* width: 100px;
  height: 100px; */
  position:relative;
  /* background-color: red; */
  animation-name: example;
  animation-duration: 3s;
  animation-delay: 1s;
}