body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #4c804e; */
  background-image: url('https://img.freepik.com/premium-zdjecie/psychodeliczne-dziwne-tlo-z-wieloma-oczami-i-innymi-czesciami-twarzy_1053-13984.jpg');
  margin: 0;
  background-size: cover; /* Skaluje obraz tła, aby w pełni pokrywał obszar tła */
  background-repeat: no-repeat; /* Zapobiega powtarzaniu obrazu tła */
  background-position: center center; /* Wyśrodkowuje obraz tła */
}

.calculator {
  width: 300px;
  margin: 100px auto;
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 4%;
  box-shadow: 0 0 10px rgba(0, 0, 0, );
  
}

.display {
  font-size: 3em;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e94747;
  color: #3bca17;
  border-radius: 7px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 20px;
  font-size: 1.5em;
  border: none;
  background-color: wheat;
  color: red;
  border-radius: 50px;
  cursor: pointer;
}

.btn:hover {
  background-color: #BFC0C0
}

.btn-clear {
  background-color: #38369A;
}

.btn-clear:hover {
  background-color: #BFC0C0
}

.special {
  background-color: #7768AE;
  cursor: pointer;
  font-size: 90%;
}

@keyframes example {
  0%   {background-color:#E15554; left:0px; top:0px;}
  25%  {background-color:#E1BC29; left:200px; top:0px;}
  50%  {background-color:#4D9DE0; left:200px; top:200px;}
  75%  {background-color:#3BB273; left:0px; top:200px;}
  100% {background-color:#E15554; left:0px; top:0px;}
}


div {
  /* width: 100px;
  height: 100px; */
  position:relative;
  /* background-color: red; */
  animation-name: example;
  animation-duration: 3s;
  animation-delay: 1s;
}